<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bingedev.android.mvvm">


    <!-- Android P doesn't allow http traffic, so network_security_config.-->
    <application
        android:name=".MvvmSampleDebugApp"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:name">

    </application>


</manifest>